<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /phoenix_flightcenter/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /phoenix_flightcenter/index.html [L]
</IfModule>
